body {
  margin: 0;
  font-family: sans-serif;
  color: #0a1f44;
  background: #ffffff;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: white;
  background:
    linear-gradient(
      rgba(10, 31, 68, 0.85),
      rgba(10, 31, 68, 0.85)
    ),
    url("assets/images/manga22.jpg") center / cover no-repeat;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tag {
  font-size: 0.75rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  opacity: 0.7;
}

@font-face {
  font-family: 'TriperoGothic';
  src: url('assets/fonts/UnifrakturCook-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


/* TÍTULO PRINCIPAL */
.hero h1 {
  font-family: 'TriperoGothic', serif;
  font-size: clamp(3.5rem, 8vw, 6.5rem);
  font-weight: 800;
  text-transform: uppercase;
}

.hero-title {
  text-align: center;
  white-space: nowrap;
}

@media (min-width: 1024px) {
  .hero-title {
    white-space: nowrap;
  }
}



/* SUBTÍTULO INSTITUCIONAL */
.hero h2 {
  font-size: clamp(1.3rem, 3vw, 2rem);
  font-weight: 400;
  margin-bottom: 1.5rem;
  opacity: 0.9;
}

/* FRASE */
.hero-subtitle {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
  opacity: 0.85;
}

/* BOTÓN */
.btn {
  padding: 0.9rem 2.2rem;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

section {
  padding: 4rem;
  max-width: 1200px;
  margin: auto;
}

h1, h2, h3 {
  letter-spacing: 1px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

footer {
  padding: 2rem;
  text-align: center;
  background: #f2f2f2;
}

.collection-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
}

.product-card {
  background: #042283d2;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: transform .4s ease, box-shadow .4s ease;
}

.product-card h3 {
  color: #ffffff;
  transition: color .3s ease;
}


.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgb(250, 250, 250);
}

.product-card.active {
  outline: 2px solid rgba(255,255,255,.15);
}


.product-card img {
  width: 100%;
  display: block;
  transition: transform .6s ease;
}

.product-info {
  padding: 1.2rem;
}

.product-info h3 {
  font-size: 1.1rem;
  margin-bottom: .4rem;
}

.product-info p {
  font-size: .9rem;
  opacity: .75;
  color: #ffffff;
}
